* {
    margin: 0px auto;
}

body {
    background: #013464;
    font-family: Karla, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    color: white;
}

/* header {
    padding: 50px;
} */

#typewriter-animated {
    font-family: Karla, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 30px;
    color: white;
    height: 36px;
}

.coffee-container {
    display: flex;
    margin-top: 50px;
    gap: 30px;
    width: 900px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.homepage-header {
    margin-top: 50px;
}

.coffee-name {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

/*  CSS FOR COFFEE STEPS    */

.coffee-steps {
    width: 500px;
    margin-top: 100px;
}

/*  THE FOLLOWING IS FLEX WRAPPER FOR INTERACTABLE STEPS */
.coffee-steps-interactable {
    width: 500px;
    margin-top: 100px;
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.steps-text {
    margin-top: 50px;
}

.coffee-steps-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* #cup-interactable {
    margin-top: 250px; 
    position: relative;
    bottom: 0; 
} */

/* .bottle {
    transform: translateX(20px);
    transform: translateY(100px);
} */

.next {
    margin-top: 50px;
    font-family: Karla, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #013464;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    display: block;
}

a {
    text-decoration: none;
}
