body {
    font-family: Roboto;
}

.logo {
    width: 400px;
}

.gallery-card {
    width: 400px;
    border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
}

.gallery-card:hover {
    background-color: yellow;
    border-color: yellow;
    font-weight: bold;
}

.gallery-image {
    width: 400px;
    border: medium solid black;
}

/* Make sure not to specify font weight here! It'll override the hover effect. */
p.gallery-text {
    font-size: 28px;
    margin: 0;
}

#gallery-item-name {
    text-decoration: underline;
    
}

#gallery-item-price {
    font-weight: normal;
}



