* {
    margin: 0px auto;
}

body {
    font-family: Roboto;
}

h1 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}

.logo {
    width: 400px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    line-height: 200%;
    font-size: 28px;
}

.current-page {
    background-color: yellow;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

hr.top-separator {
    border: 3px solid black;
    width: 98%
}

/* ---------- GALLERY ------------------------------------------------------ */

.gallery-card {
    width: 406px;
    /*
    border: 10px solid white;
    */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.gallery-card:hover {
    background-color: yellow;
    /*
    border-color: yellow;
    */
    font-weight: bold;
}

.gallery-image {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Make sure not to specify font weight here! It'll override the hover effect. */
p.gallery-text {
    font-size: 28px;
    margin-top: 10px;
}

.gallery-item-name {
    text-decoration: underline;
    
}

.gallery-item-price {
    font-weight: normal;
}

/* ---------- DETAILS PAGE ------------------------------------------------------ */

.details-card {
    width: 600px;
    font-size: 16px;
}

.details-image {
    width: 600px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.dropdown {
    width: 200px;
    margin-bottom: 20px;
}

.details-text {
    width: 200px;
    margin-bottom: 50px;
}


.order {
    font-weight: bold;
    width: 600px;
    margin-bottom: 50px;
    text-align: center;
}

.details-pricing {
    font-size: 20px;
    display: inline-block;
}

.cart-button {
    background-color: yellow;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 20px;
    margin-left: 20px;
}

/*

SHOPPING CART IN-LINE STYLING

.add-cart {
    background-color: yellow;
    padding: 10px;
    border: 2px solid black;
}
*/

/* ---------- SHOPPING CART ------------------------------------------------------ */

.shopping-cart-card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.remove {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
}

.shopping-cart-text {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.shopping-cart-card-image {
    width: 200px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.total-amount {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#total-price-text {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkout-button {
    background-color: yellow;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 20px;
    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
    
}

