* {
    margin: 0px auto;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}

header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    /* align-items: center; */
}

/* .header-left {
    width: 400px;
} */

a.logo {
    display: flex;
}

.header-right {
    /*display: flex;
    flex-wrap: wrap;
    width: 800px;*/
    flex-grow: 1;
}

.logo {
    width: 400px;
    display: flex;
    flex-grow: 0;
    /*
    margin-left: 30px;
    margin-bottom: 20px;
    */
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 90px;
    margin-right: 70px;
    margin-top: 40px;
    line-height: 200%;
    font-size: 28px; 

    /* margin-top: 20px;
    margin-bottom: 60px; */
}



.menu-link {
    margin-left: 50px;
    margin-right: 10px;
}


.current-page {
    background-color: yellow;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

hr.top-separator {
    border: 3px solid black;
    width: 98%;
    margin-top: 20px;
    margin-left: 20px;
}

h1.current-page-heading {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 28px;
}

/* ---------- GALLERY ------------------------------------------------------ */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.gallery-card {
    width: 290px;
    /*
    border: 10px solid white;
    */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.gallery-card:hover {
    background-color: yellow;
    /*
    border-color: yellow;
    */
    font-weight: bold;
}

.gallery-image {
    width: 285px;
    height: 285px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Make sure not to specify font weight here! It'll override the hover effect. */
p.gallery-text {
    font-size: 28px;
    margin-top: 10px;
}

.gallery-item-name {
    text-decoration: underline;
    
}

.gallery-item-price {
    font-weight: normal;
}

/* ---------- DETAILS PAGE ------------------------------------------------------ */

.details-container {
    display: flex;
    gap: 0;
    margin-top: 50px;
}

.dropdown-and-add-to-cart {
    width: 33.33%;
}

.details-card {
    width: 600px;
    font-size: 16px;
}

.details-image {
    width: 600px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.dropdown {
    margin-bottom: 20px;
}

.details-text {
    margin-bottom: 50px;
}


.order {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.details-pricing {
    font-size: 20px;
    text-align: right;
    margin: 0;
}

.cart-button {
    background-color: yellow;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 20px;
    margin-right: 0;
    margin-left: 20px;
}

/*

SHOPPING CART IN-LINE STYLING

.add-cart {
    background-color: yellow;
    padding: 10px;
    border: 2px solid black;
}
*/

/* ---------- SHOPPING CART ------------------------------------------------------ */

.shopping-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 10px;
}

.shopping-cart-card {
    align-items: center;
    display: flex;
    width: 600px;
    margin-left: 0;
    margin-right: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.shopping-cart-image-and-remove {
    margin-left: 0px;
}

.remove {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: left;
}

.shopping-cart-text {
    width: 400px;
    font-size: 20px;
    text-align: left;
    padding: 30px;
    /* margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px; */
}

.shopping-cart-card-image {
    width: 200px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.total-separator {
    width: 98%;
    border: 2px solid black;
    margin-right: 0;
}

.checkout {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 60px;
}

#total-price-text {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkout-button {
    background-color: yellow;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 20px;
    margin-right: 0;
    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
    
}

